#include <os2.h>
#include "cups.h"

DEFAULTICON CUPS.ICO
POINTER CUPS_ICON  LOADONCALL MOVEABLE DISCARDABLE  CUPS.ICO

STRINGTABLE
BEGIN
    PORT_ID_1               "CUPS1"
    PORT_DESC_1             "CUPS port 1"
    PORT_ID_2               "CUPS2"
    PORT_DESC_2             "CUPS port 2"
    PORT_ID_3               "CUPS3"
    PORT_DESC_3             "CUPS port 3"
    PORT_ID_4               "CUPS4"
    PORT_DESC_4             "CUPS port 4"
    PORT_ID_5               "CUPS5"
    PORT_DESC_5             "CUPS port 5"
    PORT_ID_6               "CUPS6"
    PORT_DESC_6             "CUPS port 6"
    PORT_ID_7               "CUPS7"
    PORT_DESC_7             "CUPS port 7"
    PORT_ID_8               "CUPS8"
    PORT_DESC_8             "CUPS port 8"
    PORT_ID_9               "CUPS9"
    PORT_DESC_9             "CUPS port 9"
    PORT_ID_10              "CUPS10"
    PORT_DESC_10            "CUPS port 10"
    PORT_ID_11              "CUPS11"
    PORT_DESC_11            "CUPS port 11"
    PORT_ID_12              "CUPS12"
    PORT_DESC_12            "CUPS port 12"
    PORT_ID_13              "CUPS13"
    PORT_DESC_13            "CUPS port 13"
    PORT_ID_14              "CUPS14"
    PORT_DESC_14            "CUPS port 14"
    PORT_ID_15              "CUPS15"
    PORT_DESC_15            "CUPS port 15"
    PORT_ID_16              "CUPS16"
    PORT_DESC_16            "CUPS port 16"
    PORT_ID_17              "CUPS17"
    PORT_DESC_17            "CUPS port 17"
    PORT_ID_18              "CUPS18"
    PORT_DESC_18            "CUPS port 18"
    PORT_ID_19              "CUPS19"
    PORT_DESC_19            "CUPS port 19"
    PORT_ID_20              "CUPS20"
    PORT_DESC_20            "CUPS port 20"
    PORT_ID_21              "CUPS21"
    PORT_DESC_21            "CUPS port 21"
    PORT_ID_22              "CUPS22"
    PORT_DESC_22            "CUPS port 22"
    PORT_ID_23              "CUPS23"
    PORT_DESC_23            "CUPS port 23"
    PORT_ID_24              "CUPS24"
    PORT_DESC_24            "CUPS port 24"
    PORT_ID_25              "CUPS25"
    PORT_DESC_25            "CUPS port 25"
    PORT_ID_26              "CUPS26"
    PORT_DESC_26            "CUPS port 26"
    PORT_ID_27              "CUPS27"
    PORT_DESC_27            "CUPS port 27"
    PORT_ID_28              "CUPS28"
    PORT_DESC_28            "CUPS port 28"
    PORT_ID_29              "CUPS29"
    PORT_DESC_29            "CUPS port 29"
    PORT_ID_30              "CUPS30"
    PORT_DESC_30            "CUPS port 30"
    PORT_ID_31              "CUPS31"
    PORT_DESC_31            "CUPS port 31"
    PORT_ID_32              "CUPS32"
    PORT_DESC_32            "CUPS port 32"
    PORT_ID_33              "CUPS33"
    PORT_DESC_33            "CUPS port 33"
    PORT_ID_34              "CUPS34"
    PORT_DESC_34            "CUPS port 34"
    PORT_ID_35              "CUPS35"
    PORT_DESC_35            "CUPS port 35"
    PORT_ID_36              "CUPS36"
    PORT_DESC_36            "CUPS port 36"
    PORT_ID_37              "CUPS37"
    PORT_DESC_37            "CUPS port 37"
    PORT_ID_38              "CUPS38"
    PORT_DESC_38            "CUPS port 38"
    PORT_ID_39              "CUPS39"
    PORT_DESC_39            "CUPS port 39"
    PORT_ID_40              "CUPS40"
    PORT_DESC_40            "CUPS port 40"
    PORT_ID_41              "CUPS41"
    PORT_DESC_41            "CUPS port 41"
    PORT_ID_42              "CUPS42"
    PORT_DESC_42            "CUPS port 42"
    PORT_ID_43              "CUPS43"
    PORT_DESC_43            "CUPS port 43"
    PORT_ID_44              "CUPS44"
    PORT_DESC_44            "CUPS port 44"
    PORT_ID_45              "CUPS45"
    PORT_DESC_45            "CUPS port 45"
    PORT_ID_46              "CUPS46"
    PORT_DESC_46            "CUPS port 46"
    PORT_ID_47              "CUPS47"
    PORT_DESC_47            "CUPS port 47"
    PORT_ID_48              "CUPS48"
    PORT_DESC_48            "CUPS port 48"
    PORT_ID_49              "CUPS49"
    PORT_DESC_49            "CUPS port 49"
    PORT_ID_50              "CUPS50"
    PORT_DESC_50            "CUPS port 50"
    PORT_ID_51              "CUPS51"
    PORT_DESC_51            "CUPS port 51"
    PORT_ID_52              "CUPS52"
    PORT_DESC_52            "CUPS port 52"
    PORT_ID_53              "CUPS53"
    PORT_DESC_53            "CUPS port 53"
    PORT_ID_54              "CUPS54"
    PORT_DESC_54            "CUPS port 54"
    PORT_ID_55              "CUPS55"
    PORT_DESC_55            "CUPS port 55"
    PORT_ID_56              "CUPS56"
    PORT_DESC_56            "CUPS port 56"
    PORT_ID_57              "CUPS57"
    PORT_DESC_57            "CUPS port 57"
    PORT_ID_58              "CUPS58"
    PORT_DESC_58            "CUPS port 58"
    PORT_ID_59              "CUPS59"
    PORT_DESC_59            "CUPS port 59"
    PORT_ID_60              "CUPS60"
    PORT_DESC_60            "CUPS port 60"
    PORT_ID_61              "CUPS61"
    PORT_DESC_61            "CUPS port 61"
    PORT_ID_62              "CUPS62"
    PORT_DESC_62            "CUPS port 62"
    PORT_ID_63              "CUPS63"
    PORT_DESC_63            "CUPS port 63"
    PORT_ID_64              "CUPS64"
    PORT_DESC_64            "CUPS port 64"
    PDR_ID_PROPERTIES       "Properties"
    ID_NUMBER_OF_DESC_LINES "1"
    ID_FIRST_DESC_LINES     "eCUPS port driver"
    PORT_ERR_TITLE          "Port Driver Error"
    PORT_HELP_TITLE         "eCUPS Port Help"
END

rcinclude cups.dlg
